.mini-title {
  background: rgb(255 255 255 / 10%);
  border-radius: 4px;
}

.img1 {
  width: 100%;
  max-width: 920px;
  background: url('~/assets/images/GettyImages-1092342344.png') no-repeat;
  background-size: 100% auto;
}

.img1::before {
  content: '';
  display: block;
  padding-top: 100%;
}

.white-block {
  padding: 0 24px;
}

.panel-container {
  padding: 24px 0;
  gap: 10px;
  vertical-align: top;
  height: auto;
}

.panel-gradient {
  @apply bg-gradient-to-r from-purple-400 via-pink-500 to-red-500;
}

.panel {
  border-radius: 8px;
  height: 100%;
}

.inner-panel {
  padding: 88px 40px 40px;
}

.panel-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 8px;
}

.panel-content {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
}

.panel-button-text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  text-decoration-line: underline;
}

.panel-image {
  background-size: 100% 100%;
  background-position: center center;
  background-repeat: no-repeat;
  height: 136px;
}

.internet-of-things {
  background-image: url('~/assets/images/internet-of-things.png');
}

.open-source-projects {
  background-image: url('~/assets/images/open-source-projects.png');
}

.solutions {
  background-image: url('~/assets/images/solutions.png');
}

.line {
  height: 1px;
  background-color: #9b9b9b;
  margin: 29px auto 24px;
}

.next-year-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 24px;
}

.next-year-target {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  margin-bottom: 16px;
  color: #262626;
}

.share-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  margin: 8px 0 40px;
  color: #000;
}

.share-btn {
  height: 56px;
  background: #e20074;
  margin-bottom: 40px;
}

.serve-title {
  font-weight: 800;
  font-size: 24px;
  line-height: 36px;
  color: #262626;
  margin-bottom: 16px;
}

.serve-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  margin-bottom: 40px;
}

.customer-images {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 120px;
}

.email {
  background: linear-gradient(90deg, #870b4a 0%, #e20074 100%);
  padding: 48px 24px 76px;
}

.signup-title {
  font-weight: 800;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-bottom: 8px;
}

.signup-des {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 24px;
}

.signup-input {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.5px;
  color: #6a6a6a;
  padding: 16px 0 16px 20px;
}

.signup-button {
  font-weight: 700;
  font-size: 18px;
  line-height: 56px;
  text-align: center;
  color: #ffffff;
  background: #000000;
  height: 56px;
}

.bottom {
  background: #000000;
  padding: 48px;
}

.logo {
  margin-bottom: 32px;
}

.devedge-content {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f2f2f2;
}

.devedge-content-title {
  font-weight: 800;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.devedge-item {
  margin-bottom: 32px;
  box-sizing: border-box;
  padding: 0 0.5em;
}

.devedge-item > div {
  margin: 0.5em auto;
}
